---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Adhesion - APV Valence">

  <section class="px-6 pt-16 pb-10 md:pt-24 md:pb-12 text-center">
    <div class="max-w-2xl mx-auto">
      <p class="page-subtitle">Rejoindre l association</p>
      <h1 class="page-title">Adh&eacute;sion</h1>
      <p class="body-text">
        D&eacute;butants ou collectionneurs confirm&eacute;s : tout le monde est le bienvenu &agrave; l&apos;APV.
      </p>
    </div>
  </section>

  <section class="px-6 pb-10">
    <div class="max-w-3xl mx-auto overflow-hidden stamp-card postal-frame">
      <img src="/apv-valence/img-adhesion.jpg" alt="Adhesion - enveloppe et philatelie" class="w-full h-auto max-h-[320px] object-cover object-center" />
    </div>
  </section>

  <section class="px-6 pb-20">
    <div class="max-w-2xl mx-auto stamp-card postal-frame paper p-8 space-y-5 body-text">
      <p>
        Adh&eacute;rer &agrave; l&apos;Association Philat&eacute;lique de Valence, c&apos;est rejoindre un cercle amical de passionn&eacute;s. Les r&eacute;unions du jeudi permettent d&apos;&eacute;changer, de montrer ses collections, de demander conseil et de suivre l&apos;actualit&eacute; philat&eacute;lique locale.
      </p>
      <p>
        Les adh&eacute;rents participent aussi aux manifestations organis&eacute;es par le club : F&ecirc;te du Timbre, expositions, bourses, sorties et moments conviviaux. L&apos;association s&apos;adresse aussi bien &agrave; ceux qui d&eacute;butent qu&apos;&agrave; ceux qui collectionnent depuis longtemps.
      </p>
      <p>
        Pour adh&eacute;rer, contactez-nous par email. Nous vous indiquerons le montant de la cotisation annuelle et vous ferons parvenir le bulletin d&apos;adh&eacute;sion. Vous pouvez aussi passer un jeudi apr&egrave;s-midi &agrave; la Maison de la Vie Associative pour faire connaissance.
      </p>
      <p>
        <a href="mailto:contact@assophil-valence.net" class="font-medium whitespace-nowrap">
          contact@assophil-valence.net
        </a>
      </p>
    </div>
  </section>

</Layout>